In [198]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [199]:
population = pd.read_csv("nst-est2018-01.csv")

In [200]:
population_df = pd.DataFrame(population)
pd.options.display.float_format = '{:,}'.format
population.head(20)

,table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Table 1. Annual Estimates of the Resident Popu...,NaN,NaN,nan,NaN,nan,nan,nan,nan,nan,nan,nan,nan
1,Geographic Area,40269,NaN,nan,Population Estimate (as of July 1),nan,nan,nan,nan,nan,nan,nan,nan
2,NaN,Census,Estimates Base,"2,009.0",2010,"2,011.0","2,012.0","2,013.0","2,014.0","2,015.0","2,016.0","2,017.0","2,018.0"
3,United States,308745538,308758105,"306,771,529.0",309326085,"311,580,009.0","313,874,218.0","316,057,727.0","318,386,421.0","320,742,673.0","323,071,342.0","325,147,121.0","327,167,434.0"
4,Northeast,55317240,55318430,"55,133,101.0",55380645,"55,600,532.0","55,776,729.0","55,907,823.0","56,015,864.0","56,047,587.0","56,058,789.0","56,072,676.0","56,111,079.0"
5,Midwest,66927001,66929743,"66,748,437.0",66974749,"67,152,631.0","67,336,937.0","67,564,135.0","67,752,238.0","67,869,139.0","67,996,917.0","68,156,035.0","68,308,744.0"
6,South,114555744,114563045,"113,548,615.0",114867066,"116,039,399.0","117,271,075.0","118,393,244.0","119,657,737.0","121,037,542.0","122,401,186.0","123,598,424.0","124,753,948.0"
7,West,71945553,71946887,"71,341,376.0",72103625,"72,787,447.0","73,489,477.0","74,192,525.0","74,960,582.0","75,788,405.0","76,614,450.0","77,319,986.0","77,993,663.0"
8,.Alabama,4779736,4780138,"4,757,938.0",4785448,"4,798,834.0","4,815,564.0","4,830,460.0","4,842,481.0","4,853,160.0","4,864,745.0","4,875,120.0","4,887,871.0"
9,.Alaska,710231,710249,"698,895.0",713906,"722,038.0","730,399.0","737,045.0","736,307.0","737,547.0","741,504.0","739,786.0","737,438.0"
10,.Arizona,6392017,6392288,"6,343,154.0",6407774,"6,473,497.0","6,556,629.0","6,634,999.0","6,733,840.0","6,833,596.0","6,945,452.0","7,048,876.0","7,171,646.0"
11,.Arkansas,2915918,2916028,"2,896,843.0",2921978,"2,940,407.0","2,952,109.0","2,959,549.0","2,967,726.0","2,978,407.0","2,990,410.0","3,002,997.0","3,013,825.0"
12,.California,37253956,37254523,"36,961,229.0",37320903,"37,641,823.0","37,960,782.0","38,280,824.0","38,625,139.0","38,953,142.0","39,209,127.0","39,399,349.0","39,557,045.0"
13,.Colorado,5029196,5029316,"4,972,195.0",5048281,"5,121,771.0","5,193,721.0","5,270,482.0","5,351,218.0","5,452,107.0","5,540,921.0","5,615,902.0","5,695,564.0"
14,.Connecticut,3574097,3574147,"3,561,807.0",3579125,"3,588,023.0","3,594,395.0","3,594,915.0","3,594,783.0","3,587,509.0","3,578,674.0","3,573,880.0","3,572,665.0"
15,.Delaware,897934,897934,"891,730.0",899595,"907,316.0","915,188.0","923,638.0","932,596.0","941,413.0","949,216.0","957,078.0","967,171.0"
16,.District of Columbia,601723,601766,"592,228.0",605085,"619,602.0","634,725.0","650,431.0","662,513.0","675,254.0","686,575.0","695,691.0","702,455.0"
17,.Florida,18801310,18804580,"18,652,644.0",18845785,"19,093,352.0","19,326,230.0","19,563,166.0","19,860,330.0","20,224,249.0","20,629,982.0","20,976,812.0","21,299,325.0"
18,.Georgia,9687653,9688709,"9,620,846.0",9711810,"9,801,578.0","9,901,496.0","9,973,326.0","10,069,001.0","10,181,111.0","10,304,763.0","10,413,055.0","10,519,475.0"
19,.Hawaii,1360301,1360307,"1,346,717.0",1363963,"1,379,252.0","1,394,905.0","1,408,453.0","1,414,862.0","1,422,484.0","1,428,105.0","1,424,203.0","1,420,491.0"

In [201]:
population_years = population_df.drop(['Unnamed: 1', 'Unnamed: 2'], axis=1)

In [202]:
population_years.drop(population_years.head(8).index, inplace=True)
population_years.head()

,table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts),Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
8,.Alabama,"4,757,938.0",4785448,"4,798,834.0","4,815,564.0","4,830,460.0","4,842,481.0","4,853,160.0","4,864,745.0","4,875,120.0","4,887,871.0"
9,.Alaska,"698,895.0",713906,"722,038.0","730,399.0","737,045.0","736,307.0","737,547.0","741,504.0","739,786.0","737,438.0"
10,.Arizona,"6,343,154.0",6407774,"6,473,497.0","6,556,629.0","6,634,999.0","6,733,840.0","6,833,596.0","6,945,452.0","7,048,876.0","7,171,646.0"
11,.Arkansas,"2,896,843.0",2921978,"2,940,407.0","2,952,109.0","2,959,549.0","2,967,726.0","2,978,407.0","2,990,410.0","3,002,997.0","3,013,825.0"
12,.California,"36,961,229.0",37320903,"37,641,823.0","37,960,782.0","38,280,824.0","38,625,139.0","38,953,142.0","39,209,127.0","39,399,349.0","39,557,045.0"

In [203]:
population_years.columns = ['State', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']
population_years.head()

,State,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
8,.Alabama,"4,757,938.0",4785448,"4,798,834.0","4,815,564.0","4,830,460.0","4,842,481.0","4,853,160.0","4,864,745.0","4,875,120.0","4,887,871.0"
9,.Alaska,"698,895.0",713906,"722,038.0","730,399.0","737,045.0","736,307.0","737,547.0","741,504.0","739,786.0","737,438.0"
10,.Arizona,"6,343,154.0",6407774,"6,473,497.0","6,556,629.0","6,634,999.0","6,733,840.0","6,833,596.0","6,945,452.0","7,048,876.0","7,171,646.0"
11,.Arkansas,"2,896,843.0",2921978,"2,940,407.0","2,952,109.0","2,959,549.0","2,967,726.0","2,978,407.0","2,990,410.0","3,002,997.0","3,013,825.0"
12,.California,"36,961,229.0",37320903,"37,641,823.0","37,960,782.0","38,280,824.0","38,625,139.0","38,953,142.0","39,209,127.0","39,399,349.0","39,557,045.0"

In [204]:
population_years['State'] = population_years.State.str.replace('.','')
population_years.head()

,State,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
8,Alabama,"4,757,938.0",4785448,"4,798,834.0","4,815,564.0","4,830,460.0","4,842,481.0","4,853,160.0","4,864,745.0","4,875,120.0","4,887,871.0"
9,Alaska,"698,895.0",713906,"722,038.0","730,399.0","737,045.0","736,307.0","737,547.0","741,504.0","739,786.0","737,438.0"
10,Arizona,"6,343,154.0",6407774,"6,473,497.0","6,556,629.0","6,634,999.0","6,733,840.0","6,833,596.0","6,945,452.0","7,048,876.0","7,171,646.0"
11,Arkansas,"2,896,843.0",2921978,"2,940,407.0","2,952,109.0","2,959,549.0","2,967,726.0","2,978,407.0","2,990,410.0","3,002,997.0","3,013,825.0"
12,California,"36,961,229.0",37320903,"37,641,823.0","37,960,782.0","38,280,824.0","38,625,139.0","38,953,142.0","39,209,127.0","39,399,349.0","39,557,045.0"

In [205]:
state_2 = {'Alabama':'AL', 'Alaska':'AK', 'Arizona':'AZ', 'Arkansas': 'AR', 'California':'CA',
          'Colorado':'CO', 'Connecticut':'CT', 'Delaware':'DE', 'Florida':'FL', 'Georgia':'GA',
          'Hawaii':'HI', 'Idaho':'ID', 'Illinois':'IL', 'Indiana':'IN', 'Iowa': 'IA', 'Kansas':'KS',
           'Kentucky':'KY', 'Louisiana':'LA', 'Maine':'ME', 'Maryland':'MD', 'Massachusetts':'MA',
          'Michigan':'MI', 'Minnesota':'MN', 'Missouri':'MO', 'Mississippi':'MS', 'Montana':'MT',
          "Nebraska":'NE', 'Nevada':'NV', 'New Hampshire':'NH','New Jersey':'NJ', 'New Mexico':'NM',
          'New York':'NY', 'North Carolina':'NC', 'North Dakota':'ND', 'Ohio':'OH', 'Oklahoma':'OK',
          'Oregon':'OR', 'Pennsylvania':'PA', 'Rhode Island':'RI', 'South Carolina':'SC', 'South Dakota':'SD',
          'Tennessee':'TN', 'Texas':'TX', 'Utah':'UT', 'Vermont':'VT', 'Virginia':'VA', 'Washington':'WA',
          'West Virginia':'WV', 'Wisconsin':'WI', 'Wyoming':'WY', 'District of Columbia':'DC'}

In [206]:
population_years['State_Abbr']=population_years['State'].map(state_2)

In [207]:
population_years[['2009','2010','2011','2012','2013','2014','2015','2016','2017','2018']]=population_years[['2009','2010','2011','2012','2013','2014','2015','2016','2017','2018']].astype(float)

In [208]:
population_years.dtypes

State          object
2009          float64
2010          float64
2011          float64
2012          float64
2013          float64
2014          float64
2015          float64
2016          float64
2017          float64
2018          float64
State_Abbr     object
dtype: object

In [209]:
#population_years.loc['Total'] = population_years.sum()
#population_years
total = population_years.apply(np.sum)
total['State'] = 'Total'
population_total = population_years.append(pd.DataFrame(total.values, index=total.keys()).T, ignore_index=True)
population_total

,State,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,State_Abbr
0,Alabama,"4,757,938.0","4,785,448.0","4,798,834.0","4,815,564.0","4,830,460.0","4,842,481.0","4,853,160.0","4,864,745.0","4,875,120.0","4,887,871.0",AL
1,Alaska,"698,895.0","713,906.0","722,038.0","730,399.0","737,045.0","736,307.0","737,547.0","741,504.0","739,786.0","737,438.0",AK
2,Arizona,"6,343,154.0","6,407,774.0","6,473,497.0","6,556,629.0","6,634,999.0","6,733,840.0","6,833,596.0","6,945,452.0","7,048,876.0","7,171,646.0",AZ
3,Arkansas,"2,896,843.0","2,921,978.0","2,940,407.0","2,952,109.0","2,959,549.0","2,967,726.0","2,978,407.0","2,990,410.0","3,002,997.0","3,013,825.0",AR
4,California,"36,961,229.0","37,320,903.0","37,641,823.0","37,960,782.0","38,280,824.0","38,625,139.0","38,953,142.0","39,209,127.0","39,399,349.0","39,557,045.0",CA
5,Colorado,"4,972,195.0","5,048,281.0","5,121,771.0","5,193,721.0","5,270,482.0","5,351,218.0","5,452,107.0","5,540,921.0","5,615,902.0","5,695,564.0",CO
6,Connecticut,"3,561,807.0","3,579,125.0","3,588,023.0","3,594,395.0","3,594,915.0","3,594,783.0","3,587,509.0","3,578,674.0","3,573,880.0","3,572,665.0",CT
7,Delaware,"891,730.0","899,595.0","907,316.0","915,188.0","923,638.0","932,596.0","941,413.0","949,216.0","957,078.0","967,171.0",DE
8,District of Columbia,"592,228.0","605,085.0","619,602.0","634,725.0","650,431.0","662,513.0","675,254.0","686,575.0","695,691.0","702,455.0",DC
9,Florida,"18,652,644.0","18,845,785.0","19,093,352.0","19,326,230.0","19,563,166.0","19,860,330.0","20,224,249.0","20,629,982.0","20,976,812.0","21,299,325.0",FL
10,Georgia,"9,620,846.0","9,711,810.0","9,801,578.0","9,901,496.0","9,973,326.0","10,069,001.0","10,181,111.0","10,304,763.0","10,413,055.0","10,519,475.0",GA
11,Hawaii,"1,346,717.0","1,363,963.0","1,379,252.0","1,394,905.0","1,408,453.0","1,414,862.0","1,422,484.0","1,428,105.0","1,424,203.0","1,420,491.0",HI
12,Idaho,"1,554,439.0","1,570,773.0","1,583,828.0","1,595,441.0","1,611,530.0","1,631,479.0","1,651,523.0","1,682,930.0","1,718,904.0","1,754,208.0",ID
13,Illinois,"12,796,778.0","12,840,762.0","12,867,291.0","12,884,119.0","12,898,269.0","12,888,962.0","12,864,342.0","12,826,895.0","12,786,196.0","12,741,080.0",IL
14,Indiana,"6,459,325.0","6,490,436.0","6,516,045.0","6,537,640.0","6,568,367.0","6,593,533.0","6,608,296.0","6,633,344.0","6,660,082.0","6,691,878.0",IN
15,Iowa,"3,032,870.0","3,050,767.0","3,066,054.0","3,076,097.0","3,093,078.0","3,109,504.0","3,121,460.0","3,131,785.0","3,143,637.0","3,156,145.0",IA
16,Kansas,"2,832,704.0","2,858,213.0","2,869,035.0","2,885,361.0","2,893,510.0","2,900,896.0","2,909,502.0","2,911,263.0","2,910,689.0","2,911,505.0",KS
17,Kentucky,"4,317,074.0","4,348,200.0","4,369,488.0","4,386,381.0","4,404,817.0","4,414,483.0","4,425,999.0","4,438,229.0","4,453,874.0","4,468,402.0",KY
18,Louisiana,"4,491,648.0","4,544,532.0","4,575,184.0","4,600,814.0","4,624,577.0","4,644,204.0","4,664,851.0","4,678,215.0","4,670,818.0","4,659,978.0",LA
19,Maine,"1,329,590.0","1,327,632.0","1,328,150.0","1,327,691.0","1,328,196.0","1,330,760.0","1,328,484.0","1,331,370.0","1,335,063.0","1,338,404.0",ME
20,Maryland,"5,730,388.0","5,788,642.0","5,838,991.0","5,887,072.0","5,923,704.0","5,958,165.0","5,986,717.0","6,004,692.0","6,024,891.0","6,042,718.0",MD
21,Massachusetts,"6,517,613.0","6,566,431.0","6,613,149.0","6,663,158.0","6,713,944.0","6,763,652.0","6,795,891.0","6,826,022.0","6,863,246.0","6,902,149.0",MA
22,Michigan,"9,901,591.0","9,877,535.0","9,881,521.0","9,896,930.0","9,913,349.0","9,930,589.0","9,932,573.0","9,951,890.0","9,976,447.0","9,995,915.0",MI
23,Minnesota,"5,281,203.0","5,310,843.0","5,345,668.0","5,376,550.0","5,413,693.0","5,451,522.0","5,482,503.0","5,523,409.0","5,568,155.0","5,611,179.0",MN
24,Mississippi,"2,958,774.0","2,970,536.0","2,978,470.0","2,983,767.0","2,988,797.0","2,990,623.0","2,988,693.0","2,988,298.0","2,989,663.0","2,986,530.0",MS
25,Missouri,"5,961,088.0","5,995,976.0","6,009,641.0","6,024,081.0","6,040,658.0","6,056,293.0","6,071,745.0","6,087,203.0","6,108,612.0","6,126,452.0",MO
26,Montana,"983,982.0","990,722.0","997,221.0","1,003,754.0","1,013,564.0","1,021,891.0","1,030,503.0","1,040,863.0","1,053,090.0","1,062,305.0",MT
27,Nebraska,"1,812,683.0","1,829,536.0","1,840,538.0","1,853,323.0","1,865,414.0","1,879,522.0","1,891,507.0","1,905,924.0","1,917,575.0","1,929,268.0",NE
28,Nevada,"2,684,665.0","2,702,464.0","2,712,799.0","2,744,566.0","2,776,972.0","2,819,012.0","2,868,666.0","2,919,772.0","2,972,405.0","3,034,392.0",NV
29,New Hampshire,"1,316,102.0","1,316,777.0","1,319,815.0","1,323,962.0","1,326,408.0","1,333,223.0","1,336,294.0","1,342,373.0","1,349,767.0","1,356,458.0",NH
30,New Jersey,"8,755,602.0","8,799,624.0","8,827,783.0","8,845,483.0","8,858,362.0","8,866,780.0","8,870,869.0","8,874,516.0","8,888,543.0","8,908,520.0",NJ
31,New Mexico,"2,036,802.0","2,064,588.0","2,080,395.0","2,087,549.0","2,092,792.0","2,090,342.0","2,090,211.0","2,092,789.0","2,093,395.0","2,095,428.0",NM
32,New York,"19,307,066.0","19,400,080.0","19,498,514.0","19,574,549.0","19,628,043.0","19,656,330.0","19,661,411.0","19,641,589.0","19,590,719.0","19,542,209.0",NY
33,North Carolina,"9,449,566.0","9,574,293.0","9,656,754.0","9,749,123.0","9,843,599.0","9,933,944.0","10,033,079.0","10,156,679.0","10,270,800.0","10,383,620.0",NC
34,North Dakota,"664,968.0","674,710.0","685,136.0","701,116.0","721,999.0","737,382.0","754,022.0","754,353.0","755,176.0","760,077.0",ND
35,Ohio,"11,528,896.0","11,539,327.0","11,543,463.0","11,548,369.0","11,576,576.0","11,602,973.0","11,617,850.0","11,635,003.0","11,664,129.0","11,689,442.0",OH
36,Oklahoma,"3,717,572.0","3,759,632.0","3,787,821.0","3,818,600.0","3,853,205.0","3,878,367.0","3,909,831.0","3,926,769.0","3,932,640.0","3,943,079.0",OK
37,Oregon,"3,808,600.0","3,837,532.0","3,871,728.0","3,899,118.0","3,922,908.0","3,964,106.0","4,016,918.0","4,091,404.0","4,146,592.0","4,190,713.0",OR
38,Pennsylvania,"12,666,858.0","12,711,158.0","12,744,583.0","12,766,827.0","12,776,621.0","12,789,101.0","12,785,759.0","12,783,538.0","12,790,447.0","12,807,060.0",PA
39,Rhode Island,"1,053,646.0","1,053,938.0","1,053,536.0","1,054,601.0","1,055,122.0","1,056,017.0","1,056,173.0","1,057,063.0","1,056,486.0","1,057,315.0",RI
40,South Carolina,"4,589,872.0","4,635,656.0","4,671,422.0","4,717,112.0","4,764,153.0","4,823,793.0","4,892,253.0","4,958,235.0","5,021,219.0","5,084,127.0",SC
41,South Dakota,"807,067.0","816,165.0","823,484.0","833,496.0","842,270.0","849,088.0","853,933.0","862,890.0","873,286.0","882,235.0",SD
42,Tennessee,"6,306,019.0","6,355,301.0","6,397,410.0","6,451,281.0","6,493,432.0","6,540,826.0","6,590,808.0","6,645,011.0","6,708,794.0","6,770,010.0",TN
43,Texas,"24,801,761.0","25,242,679.0","25,646,227.0","26,089,620.0","26,489,464.0","26,977,142.0","27,486,814.0","27,937,492.0","28,322,717.0","28,701,845.0",TX
44,Utah,"2,723,421.0","2,775,334.0","2,814,216.0","2,853,467.0","2,897,927.0","2,937,399.0","2,982,497.0","3,042,613.0","3,103,118.0","3,161,105.0",UT
45,Vermont,"624,817.0","625,880.0","626,979.0","626,063.0","626,212.0","625,218.0","625,197.0","623,644.0","624,525.0","626,299.0",VT
46,Virginia,"7,925,937.0","8,023,680.0","8,100,469.0","8,185,229.0","8,253,053.0","8,312,076.0","8,362,907.0","8,410,946.0","8,465,207.0","8,517,685.0",VA
47,Washington,"6,667,426.0","6,742,902.0","6,821,655.0","6,892,876.0","6,962,906.0","7,052,439.0","7,163,543.0","7,294,680.0","7,425,432.0","7,535,591.0",WA
48,West Virginia,"1,847,775.0","1,854,214.0","1,856,074.0","1,856,764.0","1,853,873.0","1,849,467.0","1,841,996.0","1,830,929.0","1,817,048.0","1,805,832.0",WV
49,Wisconsin,"5,669,264.0","5,690,479.0","5,704,755.0","5,719,855.0","5,736,952.0","5,751,974.0","5,761,406.0","5,772,958.0","5,792,051.0","5,813,568.0",WI
50,Wyoming,"559,851.0","564,483.0","567,224.0","576,270.0","582,123.0","582,548.0","585,668.0","584,290.0","578,934.0","577,737.0",WY
51,Total,"306,771,529.0","309,326,085.0","311,580,009.0","313,874,218.0","316,057,727.0","318,386,421.0","320,742,673.0","323,071,342.0","325,147,121.0","327,167,434.0",ALAKAZARCACOCTDEDCFLGAHIIDILINIAKSKYLAMEMDMAMI...

In [210]:
population_total.to_csv("Population by State -2009-18.csv", mode='a',index=False)